<%= simple_form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field(:title, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.cktext_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label :category_id %><br/>
    <%= f.select(:category_id, Category.all.collect{|c| [c.name, c.id]}) %>
  </p>
  <p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
  </p>
  
<% end %>