<h1 style='text-align:center'>All Articles</h1>

<% if logged_in? %>
	<%= link_to "Create a New Article", new_article_path, class:"btn btn-success" %>
  <% if current_user.role == 'admin' %>
	 <i style="float:right"><%= link_to "manage tags", tags_path, class:"btn btn-warning btn-sm" %></i>
  <% end %>
<% end %>
<br><br>

<ul id="articles" class='list-group' style='text-align:center'>
  <% @articles.each do |article| %>
    
    	<% unless logged_in? %>
    		<% if article.published == true %>
    			<li class='list-group-item'>
      				<%= link_to  article.title, article_path(article), class: 'article_title', id: 'article_#{article.id}' %>
      			</li>
      	<% end %>
      <% else %>
        <% if article.published == true %>
      		<li class='list-group-item'>
      			<%= link_to  article.title, article_path(article), class: 'article_title', id: 'article_#{article.id}' %>
            <% if article.writenby == current_user.email %>
              <b style="color:green">   U</b>
            <% end %>
      		</li>
        <% else %>
        <li class='list-group-item'>
            <%= link_to  article.title, article_path(article), class: 'article_title waiting_for_confirmation', id: 'article_#{article.id}', style: 'color:red' %>
            <% if article.writenby == current_user.email %>
              <b style="color:green"> U</b>
            <% end %>
            </li>
        <% end %>
      <% end %>
    
  <% end %>
</ul>
