<%= simple_form_for(@author) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">

    <%= f.label :username %>
    <%= f.text_field :username, {:class => 'form-control'} %>
    <hr>
    <%= f.label :email %>
    <%= f.text_field :email, {:class => 'form-control'} %>
    <hr>
    <%= f.label :password %>
    <%= f.password_field :password, {:class => 'form-control'} %>
    <hr>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, {:class => 'form-control'} %>
    <hr>
    <%= f.label :role %>
    <%= f.select(:role, ["admin", "redactor"], :prompt => 'Select One') %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
