<!DOCTYPE html>
<html>
  <head>
    <title>Test11833</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Home", root_path, :class => 'navbar-brand' %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Articles", articles_path %></li>
            <li><%= link_to "Categorie", categories_path %></li>
            <li><%= link_to  "About", about_path %></li>
            <li><%= link_to "Mentions Legale", mentions_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  	<% if flash.notice %>
  	 <p class='alert alert-success'><%= flash.notice %></p>
     <% end %>

    <%= yield %>

    <hr>
    <% if logged_in? %>
      <p>Logged in as <i style="color:green"><%= "#{current_user.email}" %></i></p>
      <%= link_to "logout", logout_path, {:class => 'btn btn-danger btn-xs'} %>
    <% else %>
      <%= link_to "login", login_path, {:class => 'btn btn-success btn-xs'} %>

    <% end %>
    <br><br>
  </body>
</html>
